
.cover {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-image : url(https://img.freepik.com/free-vector/set-healthy-dishes_1308-28386.jpg?w=1380&t=st=1684597235~exp=1684597835~hmac=d6026cd3dd6b9556cae581693174f43d72a72dbe67cf9d306d73d004628cf209);
    background-size: 70%;
    background-position: center;
    padding-top: 10%;
    padding-bottom: 20%;
    width: 100%;
    height: 100vh;
}

h1 {
    font-size:45px;
    font-weight: bold;
    font-style: italic;
    color:saddlebrown;
    margin-bottom: 5%;
    -webkit-text-stroke: 2px white; /* width and color */
    text-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 35px;
    margin-bottom: 5%;
}

.box {
    border-radius: 15px;
    color:saddlebrown;
    background-color:antiquewhite;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}


/* CSS */
.button-39 {
  white-space: normal;
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249,250,251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}